<div id="<%= dom_id comment %>">
  <div>
    <strong>Body:</strong>
    <%= comment.body %>
  </div>

  <div>
    <strong>User:</strong>
    <%= comment.user_id %>
  </div>

  <div>
    <strong>Hike:</strong>
    <%= comment.hike_id %>
  </div>

</div>
