<div id="<%= dom_id hike %>">
  <div>
    <strong>Name:</strong>
    <%= hike.name %>
  </div>

  <div>
    <strong>Distance:</strong>
    <%= hike.distance %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= hike.description %>
  </div>

</div>
